@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  --base-color: #021407;
  --secondary-color: #021D12;
  --primary-color: #07FC01;
  --accent-color: #56FE1D;
}

::selection {
  background: var(--primary-color);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* font-family: 'jolly-lodger'; */
  font-family: 'Montserrat', sans-serif;
  color: white;
  box-sizing: border-box;
}

.text-glow {
  text-shadow: 0px 0px 25px var(--accent-color);
}

body {
  background-color: var(--base-color);
  max-width: 1450px;
  margin: 0px auto;
}