.navbar{
    display: flex;
    padding: 1rem 6.75rem;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--base-color);
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-logo-area{
    font-size: 2rem;
    font-family: 'jolly lodger';
    text-shadow: 0px 0px 40px  var(--accent-color);
    /* color: var(--accent-color); */
}

.nav-menu-list{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0 auto;
}

.nav-menu-list-items a{
    font-family: 'jolly lodger';
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
}

a:focus, a:active{
    color: var(--primary-color);
}