.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
}

.icon-wrapper{
    width: 100px;
    height: 100px;
    background: var(--secondary-color);
    border-radius: 50%;
    display:flex ;
    align-items: center;
    justify-content: center;
    outline: 5px solid var(--primary-color);
}

@media only screen and (max-width:1300px){
    .icon-wrapper{
        width: 80px;
        height: 80px;
    }

    .icon-wrapper img{
        width: 60%;
        height: 60%;
    }

}

@media only screen and (max-width:600px){
    .icon-wrapper{
        width: 60px;
        height: 60px;
    }

    .icon-wrapper img{
        width: 60%;
        height: 60%;
    }

    .skills-wrapper{
        gap: 3.5rem;
    }

}